<!DOCTYPE html>
<html layout:decorate="~{auth/auth-template}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Password Recovery</title>
</head>
<body>

<th:block layout:fragment="auth-form">
    <form id="forgotPassForm" action="/signup/activate" method="POST">
        <div th:replace="~{auth/auth-stepper('forgot-password')}"></div>
    </form>
</th:block>
<th:block layout:fragment="quick-links">
    <div class="col-12 float-left">
        <p>
            Have an account? <a href="/login" class="text-center">Login here</a>
        </p>
    </div>
</th:block>

<th:block layout:fragment="script">
    <script src="/static/js/password.js"></script>
    <script src="/static/js/signup.js"></script>
</th:block>
</body>
</html>