<!DOCTYPE html>
<html layout:decorate="~{shared/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title>Error | Not Found</title>
</head>
<body>
<th:block layout:fragment="content">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6">
          <h1>Error</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active">Error 404</li>
          </ol>
        </div>
      </div>
    </div>
  </section>
  <section class="content">
    <div class="container-fluid">
      <div class="row align-items-center error-page">
        <div class="col-md-6">
          <img src="/static/images/error/404.svg" class="img-fluid" alt="404 Not Found">
        </div>
        <div class="col-md-6 text-center">
          <h3><i class="fas fa-exclamation-triangle text-warning"></i> Oops! Page not found</h3>
          <p>
            We couldn't find the page you were looking for.<br>
            <a th:href="@{/}" class="btn btn-outline-primary mt-3"><i class="fas fa-home"></i> Back to Home</a>
          </p>
        </div>
      </div>
    </div>
  </section>
</th:block>
</body>
</html>
