@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.slider {
    background: whitesmoke;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
    height: 50px;
    margin: auto;
    overflow: hidden;
    position: relative;
}

.slider::before, .slider::after {
    background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 50px;
    position: absolute;
    width: 100px;
    z-index: 2;
}

.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

.slider::before {
    left: 0;
    top: 0;
}

.slider .slide-track {
    -webkit-animation: scroll 10s linear infinite;
    animation: scroll 30s linear infinite;
    display: flex;
    width: calc(100px * 6);
}

.slider .slide {
    height: 70px;
    width: 150px;
}

.section-title h4 {
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    color: #000;
    letter-spacing: 0.3px;
    padding: 0;
}

.section-title::after {
    content: "";
    height: 3px;
    background: #fbb900;
    width: 80px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}
