<!DOCTYPE html>
<html layout:decorate="~{shared/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Bill History</title>
    <th:block layout:fragment="style">
        <link rel="stylesheet" href="https://cdn.datatables.net/buttons/3.1.2/css/buttons.bootstrap4.min.css">
        <link href="https://code.jquery.com/ui/1.10.4/themes/cupertino/jquery-ui.css" rel="stylesheet">
    </th:block>
</head>
<body>
<th:block layout:fragment="content">
    <section class="content mt-2">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <div class="card card-outline card-purple">
                        <div class="card-header">
                            <h2 class="card-title text-purple"><i class="fas fa-history"></i> Bill History</h2>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <form id="billHistoryForm" onsubmit="return false;" class="col-md-8 mx-auto">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text bg-info border-info">From Month</span>
                                                </div>
                                                <input type="text" id="startMonth" name="startMonth" autocomplete="off"
                                                       placeholder="MM-YYYY" class="form-control" required="">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text bg-info border-info">To Month</span>
                                                </div>
                                                <input type="text" id="endMonth" name="endMonth" autocomplete="off"
                                                       placeholder="MM-YYYY" class="form-control" required="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 text-center mt-3">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                </form>
                            </div>
                            <div id="billHistoryTable" class="mt-4"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</th:block>
<th:block layout:fragment="script">
    <script src="https://cdn.datatables.net/buttons/3.2.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.2.2/js/buttons.bootstrap4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.12/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.12/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.2.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.2.2/js/buttons.colVis.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="/static/js/bill/history.js"></script>
</th:block>
</body>
</html>