<div class="section-title">
  <h4>Online Bank & MFS List</h4>
</div>
<br>
<footer class="main-footer" style="padding:0rem;">
  <div class="slider">
    <div class="slide-track">
      <div class="slide"><img src="/static/images/payment/mfs/bkash.png" height="50" width="100" alt="bkash"></div>
      <div class="slide"><img src="/static/images/payment/mfs/rocket.png" height="50" width="100" alt="rocket"></div>
      <div class="slide"><img src="/static/images/payment/mfs/mycash.png" height="50" width="100" alt="mycash"></div>
      <div class="slide"><img src="/static/images/payment/mfs/nexuspay.png" height="50" width="100" alt="nexuspay">
      </div>
      <div class="slide"><img src="/static/images/payment/mfs/telecash.jpg" height="50" width="100" alt="telecash">
      </div>
      <div class="slide"><img src="/static/images/payment/mfs/upay.png" height="50" width="100" alt="upay"></div>
      <div class="slide"><img src="/static/images/payment/bank/bank_asia.jpg" height="50" width="100" alt="bank_asia">
      </div>
      <div class="slide"><img src="/static/images/payment/bank/basic_bank.png" height="50" width="100" alt="basic_bank">
      </div>
      <div class="slide"><img src="/static/images/payment/bank/bkeb.png" height="50" width="100" alt="bkeb"></div>
      <div class="slide"><img src="/static/images/payment/bank/dhaka_bank.png" height="50" width="100" alt="dhaka_bank">
      </div>
      <div class="slide"><img src="/static/images/payment/bank/ebl.png" height="50" width="100" alt="ebl"></div>
      <div class="slide"><img src="/static/images/payment/bank/mbl.jpg" height="50" width="100" alt="mbl"></div>
      <div class="slide"><img src="/static/images/payment/bank/modhumoti.png" height="50" width="100" alt="modhumoti">
      </div>
      <div class="slide"><img src="/static/images/payment/bank/mtb.png" height="50" width="100" alt="mtb"></div>
      <div class="slide"><img src="/static/images/payment/bank/nbl.png" height="50" width="100" alt="nbl"></div>
      <div class="slide"><img src="/static/images/payment/bank/ncc.png" height="50" width="100" alt="ncc"></div>
      <div class="slide"><img src="/static/images/payment/bank/nrbc.png" height="50" width="100" alt="nrbc"></div>
    </div>
  </div>
  <div class="justify-center text-center"
       style="border-top:1px solid olive;background: #1e3f64; color: whitesmoke;padding: 5px">
    <strong> Ⓒ Karnaphuli Gas Distribution Company Limited</strong>
    <!--/*@thymesVar id="version" type="java.lang.String"*/-->
    <span th:if="${version != null}" class="text-muted text-sm float-right" th:text="${version}"></span>
  </div>
</footer>