<!DOCTYPE html>
<html layout:decorate="~{shared/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title>Complain Review</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-bootstrap-4@5.0.27/bootstrap-4.min.css">
</head>
<body>
<th:block layout:fragment="content">
  <section class="content mt-2">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-md-12">
          <div class="card card-outline card-primary">
            <div class="card-header">
              <h3 class="card-title text-primary"><i class="nav-icon fas fa-check-circle"></i> Your Review on Completed Complain</h3>
            </div>
            <div class="card-body">
              <!--/*@thymesVar id="isImpersonating" type="java.lang.Boolean"*/-->
              <div th:if="${isImpersonating}" class="alert alert-warning">
                <i class="fas fa-exclamation-triangle"></i>
                You are currently impersonating a user. You cannot submit a complaint review while impersonating.
              </div>
              <form id="reviewForm" onsubmit="return false;">
                <div class="form-group">
                  <label for="ticketNo">Ticket No. <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" id="ticketNo" name="ticketNo" placeholder="Enter a valid ticket number">
                </div>

                <div class="form-group">
                  <label for="reviewerFeedback">Review Message <span class="text-danger">*</span></label>
                  <textarea class="form-control" rows="5" id="reviewerFeedback" name="reviewerFeedback"
                            placeholder="Enter your feedback here"></textarea>
                  <p class="text-sm" id="reviewCounter">0/500 characters</p>
                </div>

                <div class="text-right">
                  <button type="submit" class="btn btn-primary" th:classappend="${isImpersonating ? 'disabled' :''}">Submit</button>
                  <button type="reset" class="btn btn-warning">Reset</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</th:block>
<th:block layout:fragment="script">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/additional-methods.min.js"></script>
  <script src="/static/js/common-validation.js"></script>
  <script src="/static/js/complain/review.js"></script>
</th:block>
</body>